[idle_timeout]
gcode:
  TURN_OFF_HEATERS
  M84
  STATUS_OFF
timeout: 7200

[respond]

[exclude_object]

[bed_mesh]
horizontal_move_z: 15
speed: 120
mesh_min: 30, 30
mesh_max: 320, 320
probe_count: 11, 11
algorithm: bicubic
zero_reference_position: 175, 175

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:
  DOCK_PROBE
  CANCEL_PRINT

# [safe_z_home]
# ##  XY Location of the Z Endstop Switch
# ##  Update -10,-10 to the XY coordinates of your endstop pin 
# ##  (such as 157,305) after going through Z Endstop Pin
# ##  Location Definition step.
# home_xy_position:229,355
# speed:100
# z_hop:10
# z_hop_speed:10