[gcode_macro G32]
gcode:
    {% set hotendtemp = params.HOTEND|default(250)|int %}

    STATUS_HOMING
    G28                                                                         # home all axes

    STATUS_LEVELING
    QUAD_GANTRY_LEVEL                                                           # Leveling Gantry

    STATUS_CLEANING
    CLEAN_NOZZLE
    PARK
    # auto-z

    # TODO: Remove when gantry shift is fixed
    STATUS_HOMING
    G28
    #G0 Y320 X135 F3600                                                          # move away nozzle to avoid clicky on homing Z                          
    G28 Z                                                                       # home Z

    STATUS_CALIBRATING_Z
    CALIBRATE_Z                                                              # auto-z
    SET_GCODE_OFFSET Z_ADJUST={params.Z_ADJUST|default(0.0)|float} MOVE=1
    STATUS_MESHING
    #ADAPTIVE_BED_MESH                                                           # Chargement du Bed_mesh PL